# For more options, open this url: https://clang.llvm.net.cn/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
TabWidth: 2
ColumnLimit: 80
---
Language: Cpp
AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: false
IndentPPDirectives: AfterHash
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
# BreakBeforeBraces: Linux
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterClass: true
  AfterNamespace: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentCaseLabels: true
SortIncludes: false
AlignConsecutiveMacros: AcrossEmptyLines
# AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveAssignments: Consecutive
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma

