[submodule "Libraries/lvgl"]
	path = Libraries/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Libraries/freetype"]
	path = Libraries/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Libraries/EasyLogger"]
	path = Libraries/EasyLogger
	url = https://github.com/armink/EasyLogger.git
[submodule "Libraries/FreeRTOS"]
	path = Libraries/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "Libraries/Unity"]
	path = Libraries/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Libraries/CmBacktrace"]
	path = Libraries/CmBacktrace
	url = https://github.com/armink/CmBacktrace.git
[submodule "Libraries/FAL"]
	path = Libraries/FAL
	url = https://github.com/RT-Thread-packages/fal.git
[submodule "Libraries/SFUD"]
	path = Libraries/SFUD
	url = https://github.com/armink/SFUD.git
